*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(235, 122, 141); */
}
section{
    width: 90%;
    height: 90vh;
    padding: 1em;
    /* background-color: pink; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
section div{
    width: 80%;
    height: 80%; 
    border: 1px solid rgba(255, 255, 255, 0.616); 
    /* box-shadow: 10px 10px 10px rgba(255, 224, 224, 0.507); */
    border-radius: 15px;
    background-color: rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}
section div:hover{
    transform: scale(1.1);
}