*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
    text-align: center;
    text-transform: uppercase;
}
body, main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
table{
    width: 60%;
    height: 60%;
}
tr{
    height: 10px;
}
td{
    width: 15px;
    background-color: rgb(230, 230, 230);
}
.roxo{
    background-color: #A52ACC;
}
.rosa{
    background-color: #FF3B77;
}
.azul{
    background-color: #616FDC;
}
.amarelo{
    background-color: #FCF42F;
}
.laranja{
    background-color: #ff4800;
}
.verde{
    background-color: #2DF274;
}
.vermelho{
    background-color: #ff1111;
}
.verde-escuro{
    background-color: #067302;
}